<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Characters</h1>

    <form class="ui form" action="/character/add" method="post">
        <div class="field">
            <label>Add Character</label>
            <input type="text" name="name" placeholder="character name..."><br>
        </div>
        <button class="ui blue button" type="submit">Add</button>
    </form>

    <hr>

    {% for char in char_list %}
        <div class="ui segment">
            <p class="ui big header">{{ char.id }} | {{ char.name }}</p>
            <span class="ui gray label">{{ prodict[char.pronouns] }}</span>

            <form class="ui form" action="/character/update/{{ char.id }}" method="post">
                <label for="chosen pronouns">Choose Different Pronouns</label>
                <input list="pronouns" id="chosen pronouns" name="chosen pronouns">
                <datalist id="pronouns">
                    {% for key in prodict %}
                        <option value="{{ prodict[key] }}">{{ prodict[key] }}</option>
                    {% endfor %}
                </datalist>
                <input class="ui blue button" type="Submit" value="Change Pronouns">
            </form>

            <a class="ui red button" href="/character/delete/{{ char.id }}">Delete</a>
        </div>
    {% endfor %}
</div>
</body>

</html>
